@{
    ViewData["Title"] = "Collaboration With Us";
    ViewData["MyColor"] = "dark";
}

<div class="bg-dark text-center">
    <h1 class="align-content-center p-0 m-0 text-white">@ViewData["Title"]</h1>
    <p class="p-0 m-0 text-white">Let Grow Together</p>
    <img class="my-5" style="width:50%;height:50%;" src="https://previews.123rf.com/images/olechowski/olechowski1310/olechowski131000051/23229493-collaboration-concept-in-word-tag-cloud-isolated-on-black-background.jpg" />
</div>

<<div class="container my-5">
    <h1 class="text-center my-5">Why Join Us?</h1>
    <div class="row justify-content-center align-content-lg-center">
        <div class="col-md-6">
            <img class="mt-5" style="width:200px;height:200px;" src="https://www.digopaul.com/wp-content/uploads/related_images/2015/09/08/experience_1.jpg" />
            <div class="d-inline-flex flex-column bd-highlight m-0 p-0">
              <h4>Experience</h4>
              <div class="p-2 bd-highlight">We have many Senior Employee, sure </div>
              <div class="p-2 bd-highlight">Our Startup have more experience then other</div>
            </div>
        </div>
        <div class="col-md-6">
            <img class="mt-5" style="width:200px;height:200px;" src="https://cdn1.vectorstock.com/i/1000x1000/94/75/comics-shake-hands-vector-21199475.jpg" />
            <div class="d-inline-flex flex-column bd-highlight m-0 p-0">
              <h4>Patner Ecoystem</h4>
              <div class="p-2 bd-highlight">We always update our system. </div>
              <div class="p-2 bd-highlight">So when you be part of us,</div>
              <div class="p-2 bd-highlight">you will get performance improvement.</div>
            </div>
        </div>
        <div class="col-md-6">
            <img class="mt-5" style="width:200px;height:200px;" src="https://images.tokopedia.net/img/cache/700/VqbcmM/2021/6/26/47b8f51a-fb7c-4234-bf38-38ee571bfca9.jpg" />
            <div class="d-inline-flex flex-column bd-highlight m-0 p-0">
              <h4>Explosure & Global Reach</h4>
              <div class="p-2 bd-highlight">We have web & mobile application.</div>
              <div class="p-2 bd-highlight">So This startup not only exist in Indonesia,</div>
              <div class="p-2 bd-highlight">But we will expand in other country soon.</div>
            </div>
        </div>
        <div class="col-md-6">
            <img class="mt-5" style="width:200px;height:200px;" src="https://thumbs.dreamstime.com/b/message-chat-cartoon-icon-message-chat-cartoon-icon-social-media-symbol-white-background-125364746.jpg" />
            <div class="d-inline-flex flex-column bd-highlight m-0 p-0">
              <h4>Consulting Product & Service</h4>
              <div class="p-2 bd-highlight">We provide consulting service.</div>
              <div class="p-2 bd-highlight">So, We will give recommended Our product.</div>
              <div class="p-2 bd-highlight">We will help you 100%.</div>
            </div>
        </div>
    </div>
</div>

<div class="container my-5 p-5 bg-dark">
    <h1 class="text-center my-5 text-white">Lets Colaborate, We need your help !!!</h1>
    <div class="row justify-content-center align-content-lg-center">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
              <h5 class="card-title text-center">Investor</h5>
              <img src="https://cdn.ksprtj.net/wp/images/2021/12/21/investor%20adalah.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">Invest in this startup not only be part of company owner, but be part indonesia improvement activator</p>
               
              </div>
            </div>
        </div><div class="col-md-4">
            <div class="card" style="width: 18rem;">
              <h5 class="card-title text-center">Partner</h5>
              <img src="https://blog.asana.com/wp-content/post-images/Asana-productivity-tips.png" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">We want to accompany with all people. Be our patner and we help build your dream, and I hope So do you.</p>
                
              </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
              <h5 class="card-title text-center">Employee</h5>
              <img src="https://blog.usetada.com/hubfs/Mengenal%20Employee%20Perks%20dan%20Benefitnya%20untuk%20Karyawan.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">We open many position to make you grow. Be part Us.We build our startup together.</p>
              </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <h1 class="text-center">Contact Us</h1>
    <form class="p-5 m-5">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Name</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
      </div>
      <textarea class="form-control my-3" id="w3review" name="w3review" rows="4" cols="50">write your comment  
      </textarea>
      <button type="submit" class="btn btn-dark">Submit</button>
    </form>
</div>