@{
    ViewData["Title"] = "Home Page";
    ViewData["MyColor"] = "dark";
}

<div class="text-center">
    <div class="p-5 mb-4 bg-light rounded-3 jumbotron">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Uland</h1>
        <p class="">A new startup who have a big dream to make Vacant land be productive land</p>
         <p class="">We serve land rental and selling land</p>
        <a class="btn btn-dark" asp-area="" asp-controller="q1" asp-action="product">See Our Product</a>
      </div>
    </div>
    <h1 class="my-5">WHY WE ARE EXIST?</h1>
    <div class="row">
        <div class="col-md-6">
            <h2>1</h2>
            <p>There are 30 million hectare vacant land Indonesia which should used for Agriculture,farm, and set up a business. </p>
        </div>
        <div class="col-md-6">
            <h2>2</h2>
            <p>Help You get or rent vacant land for build your dream </p>
        </div>
    </div>

    <div class="bg-dark mt-5 mb-0 p-0" style="width:100%;">
    <div class="row">
            <div class="col-md-4">
                <div class="container start-50 text-white">
                    <h3 class="p-5">What Is New??</h3>
                    <p>We always update our technoloy and go beyond</p>
                    <p>Now, We avaible in all online payment.</p>
                </div>
            </div>
             <div class="col-md-8 text-white">
                 <h4 class="text-white">Our Patner Payment</h4>
                 <img class="p-5" src="https://freepngimg.com/thumb/payment_method/6-2-payment-method-png.png" />
             </div>
        </div>
    </div>
</div>

